@model Admin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Admin @Model.UserName Detials</h1>




<div class="form-group">

    <label class="col-form-table" asp-for="Id">Id </label>
    <input readonly class="form-control" asp-for="Id" required="">
    <br />


    <label class="col-form-table" asp-for="FirstName">First Name </label>
    <input readonly class="form-control" asp-for="FirstName" required="">
    <br />


    <label class="col-form-table" asp-for="LastName">Last Name </label>
    <input readonly class="form-control" asp-for="LastName" required="">
    <br />


    <label class="col-form-table" asp-for="Email">Email </label>
    <input readonly class="form-control" type="email" asp-for="Email" required="">
    <br />


    <label class="col-form-table" asp-for="PhoneNumber">Phone Number </label>
    <input readonly class="form-control" title="Please enter exactly 11 digits." maxlength="11" pattern="^\d{11}$" asp-for="PhoneNumber" required>
    <br />


    <label class="col-form-table" asp-for="Gender">Gender </label>
    <select disabled class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Hospital.Models.Gender>()" required> </select>
    <br />



    <div class="form-group">
        <label asp-for="Age" class="control-label">Age</label>
        <input readonly asp-for="Age" class="form-control" type="number" id="age" readonly required />
    </div>
    <br />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to list</a>


</div>



